
/* body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
*/

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
  border-radius: 10px;
  overflow: hidden;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
.aboutme{
  font-size: larger;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.button1 {border-radius: 12px;}
.calendar{
  
  color: White;
  font-size: x-large;
  text-align: center;
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  background-color: blueviolet;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  
}



.clock1 {  
align-items: center;
font-size: large;
text-decoration-color: lightcyan;
color: white;


}

.photos img:hover{
  filter: drop-shadow();
  transform: scale(1.1);


}
section {
    width: 100%;
    padding: 0 7%;
    display: table;
    margin: 5;
    max-width: none;
    
    height: 75vh;
    background-image: url('https://s15.banner_test.jpg');
    }
section.fuck{
    width: 100%;
    padding: 0 7%;
    display: table;
    margin: 5;
    max-width: none;
    
    height: 10vh;
   
}
section.sexy{
    width: 100%;
    padding: 0 7%;
    display: table;
    margin: 5;
    max-width: none;
    
    height: 10vh;

}
.map-container-6{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container-6 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }

section.twake{
    
    opacity: 1;
}

.logo {
    border: 5px solid black;
    flex-wrap: wrap;
    margin: 5;
    position: absolute;
    align-items: center;
    align-self: center;
    
    

}

.navbar {
    background-color:transparent;
    transition: all 650ms cubic-bezier(1,0,0,1);
    opacity: 95%;
}

.nav-link{
  font-family: 'The Historia Demo', sans-serif;
}
    
.page-section {
    padding: 100px 0;
  }

  page-section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  
  .page-section h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }

  section#contact {
    background-color: #212529;
    background-image: url("images/map-image.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  
  section#contact .section-heading {
    color: #fff;
  }
  
  section#contact .form-group {
    margin-bottom: 25px;
  }
  
  section#contact .form-group input,
  section#contact .form-group textarea {
    padding: 20px;
  }
  
  section#contact .form-group input.form-control {
    height: auto;
  }
  
  section#contact .form-group textarea.form-control {
    height: 248px;
  }
  
  section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
  }
  
  section#contact ::-webkit-input-placeholder {
    font-weight: 700;
    color: #ced4da;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  
  section#contact :-moz-placeholder {
    font-weight: 700;
    color: #ced4da;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  
  section#contact ::-moz-placeholder {
    font-weight: 700;
    color: #ced4da;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  
  section#contact :-ms-input-placeholder {
    font-weight: 700;
    color: #ced4da;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }

  section.vlogblue {
    background-color: lightblue;
    border-radius: 10px 140px 30px 140px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
  }

  section.vlogyellow {
    background-color: lightsalmon;
    border-radius: 140px 10px 140px 30px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
  }

  section.podcastgreen {

    border-radius: 25px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    

  }
  
.phuto {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
 
}
